.bgmain{
  background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(".//assets//images/bgmain.jpg");
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width:1024px) {
  .bgmain{
      background-position: center;
  }
}

.navbar{
  z-index: 9999;
}